<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        nav{
            display:flex;
            justify-content: space-between;
        }
        .main-header{
            margin-top: 0px;
            font-size: larger;
            font-weight: 800;
        }
        .split-nav{
            width: 200px;
            display: flex;
            justify-content: space-around;
        }
        .header-link{
            text-decoration: none;
            color: rgb(73, 121, 224);
        }
        section{
            max-width: 1200px;
            margin: 20px auto;
        }
    </style>
    <title><%= title %></title>
</head>