<nav>
    <p class="main-header"><a href="/" class="header-link">Node Blog</a></p>
    <div class="split-nav">
        <a class="header-link" href="/">Home</a>
        <a class="header-link" href="/about">About</a>
        <a class="header-link" href="/blogs/create">New Blog</a>
    </div>
</nav>