<h1><a href="/" class="header-link">Node Blog</a></h1>
<nav>
    <p class="main-header nav-txt">Specially made blog</p>
    <div class="split-nav">
        <a class="header-link nav-txt" href="/">Home</a>
        <a class="header-link nav-txt" href="/about">About</a>
        <a class="header-link nav-txt" href="/blogs/create">Create New Blog</a>
    </div>
</nav>
<hr>