<html>
    <head>

    </head>
    <body>
        <h3><a href="/">HOME</a></h2>
        <h2>404</h2>

        <a href="/about">About</a>

        <div>
            <h3>Oops! There was an error</h3>
        </div>
    </body>
</html>