<html>
    <head>

    </head>
    <body>
        <%- include('./partials/nav.ejs') %>

        <h2>Welcome To About</h2>

        <div>
            <p>dfdgfjkiolp;[poiuyhtgr</p>
            <p>dfdgfjkiolp;[poiuyhtgr</p>
            <p>dfdgfjkiolp;[poiuyhtgr</p>
        </div>
    </body>
</html>