<html>
    <%- include('./partials/head.ejs') %>   
    <body>
        <%- include('./partials/nav.ejs') %>

        <h2>About Page</h2>
        <div>
            <p>Jessica ran outside the door in a hurry and reflected on her cold surroundings. She had always loved industrial Glasgow with its anxious, ashamed arches. It was a place that encouraged her tendency to feel fuzzy. Then she saw something in the distance, or rather someone. It was the a thoughtful figure of Mike Lakeman.</p>
            <p>It's a dying earth fantasy story about found families. It kicks off amid the dunes with a birth in the family. (Note that: the old are not wise in this story). And there's a twist! The prophecy does not say that the protagonist will be the Chosen One.</p>
        </div>
        <%- include('./partials/footer.ejs') %>  
    </body>
</html>