<html>
    <%- include('./partials/head.ejs') %>   
    <body>
        <h2><a href="/">HOME</a></h2>
        <h2>Create A nEW blog</h2>

        <div>
            <form>
                <label for="title">Blog title</label>
                <input type="text" id="title" required>
                <label for="snippet">Blog snippet</label>
                <input type="text" id="snippet" required>
                <label for="title">Blog title</label>
                <textarea id="body" required></textarea>
                <button>Submit</button>
            </form>
        </div>
    </body>
</html>