<html>
    <%- include('./partials/head.ejs') %>   
    <body>
        <%- include('./partials/nav.ejs') %>
        <h2>Create A New Blog</h2>

        <div>
            <form>
                <label for="title">Blog Title</label>
                <input type="text" id="title" required>
                <label for="snippet">Blog Snippet</label>
                <input type="text" id="snippet" required>
                <label for="title">Blog Body</label>
                <textarea id="body" required></textarea>
                <button class="create-submit-btn">Create Blog</button>
            </form>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>